In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'D:\.vscode\misinformation_detection\news_dataset.csv')

In [3]:
df = df[["title","text","label","Result"]]
df.head(5)

,title,text,label,Result
0,‘A target on Roe v. Wade ’: Oklahoma bill maki...,UPDATE: Gov. Fallin vetoed the bill on Friday....,REAL,match
1,Study: women had to drive 4 times farther afte...,Ever since Texas laws closed about half of the...,REAL,match
2,"Trump, Clinton clash in dueling DC speeches","Donald Trump and Hillary Clinton, now at the s...",REAL,match
3,Grand jury in Texas indicts activists behind P...,A Houston grand jury investigating criminal al...,REAL,match
4,"As Reproductive Rights Hang In The Balance, De...",WASHINGTON -- Forty-three years after the Supr...,REAL,nomatch

In [4]:
df[df["title"].isnull()]
# df = df.dropna()
# Concatenate title, text, and Result columns into a new column Title_text
df["Title_text"] = df.apply(lambda row: f"{row['title']} [SEP] {row['Result']} [SEP] {row['text']}" , axis=1)

In [5]:
df = df[["Title_text", "label"]]
df.head()

                                          Title_text label
0  ‘A target on Roe v. Wade ’: Oklahoma bill maki...  REAL
1  Study: women had to drive 4 times farther afte...  REAL
2  Trump, Clinton clash in dueling DC speeches [S...  REAL
3  Grand jury in Texas indicts activists behind P...  REAL
4  As Reproductive Rights Hang In The Balance, De...  REAL

In [6]:
df.to_csv(r'.\news_allcols_dateset.csv', index= False)